@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

body {
    background-color: $lightgreen;
    color: $white;
}

.my-container {
    width: 80%;
    margin: 0 auto;
}